.page-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-not-found-container h1 {
  font-size: 15rem;
}

.page-not-found-container h2 {
  margin-top: -5rem;
}

@media (min-width: 700px) {
  .page-not-found-container h1 {
    font-size: 25rem;
  }

  .page-not-found-container h2 {
    margin-top: -8rem;
  }
}
